@import "tailwindcss";

@keyframes flowerSway {
  0% {
    transform: rotate(-2deg);
  }

  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

.flower-sway {
  animation: flowerSway 4s ease-in-out infinite;

  /* Makes the flower rotate from its base */
  transform-origin: bottom center;
}

/* Top row of clouds */
@keyframes cloudsSwayRight {
  0% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(-20px);
  }
}

/* Bottom row of clouds - opposite direction */
@keyframes cloudsSwayLeft {
  0% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(20px);
  }
}

.cloud-row-one {
  animation: cloudsSwayRight 7s ease-in-out infinite;
}

.cloud-row-two {
  animation: cloudsSwayLeft 7s ease-in-out infinite;
}